<div id="exchangeitems">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Insira os produtos que serão trocados</h4>
    </div>
    <div class="panel-body">  
      <%= form_tag order_exchange_items_path, :method => :post, :remote => true, class: "form-inline"  do %>  
        <div class="form-group">    
          <label class="sr-only" for="exampleInputEmail2">Produto</label>
          <%= text_field_tag :autocomplete_exchange_product, (""),
            :class => "search-query form-control",
            "data-source" => autocompletes_products_path,
            autofocus: true,
            placeholder: "Pesquisar produto",
            size: 50 %> 
      
          <%= hidden_field_tag :exchange_product_id %>
          <%= hidden_field_tag :unit_price, value: 0 %>
      
          <%= text_field_tag :exchange_quantity,(""), placeholder: "Quantidade", :class => "form-control" %>

          <%= submit_tag 'Adicionar', class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</div>