<div class="page-header">
  <h1>Pedido <%= order.id %> </h1>
</div>

<%= render 'orders/items/form_tag' %>

<div id="list_items">
  <%= render 'orders/items/list_items' %>
</div>

<div class="well well-sm">
  <%= button_tag "Adicionar Troca", class: "btn btn-default", :id => "button_exchange"  %>
  <%= button_tag " Adicionar Desconto", class: "btn btn-default", :id => "button_descount"  %>
</div>

<div id="exchange">
  <%= render 'orders/items/exchange_form_tag' %>
</div>

<div id="exchange_list_items">
  <%= render 'orders/items/exchange_list_items' %>
</div>

<div id="descount">
  <%= render 'orders/descount', :order => @order %>
</div>

<div class="row">       
  <div class="col-md-4">
    <%= render 'orders/items/total_items' %>
  </div>
  
  <div class="col-md-4" id="total_descount">
    <%= render 'orders/items/total_descounts' %>
  </div>
  
  <div class="col-md-4" id="total_valor">
    <%= render 'orders/items/total_valor' %>
  </div>
</div>


<div class="form-actions">
  <% if @order.attending? %>
    <%= link_to "Pedido Pronto", 
      order_ready_path(@order), 
      :method => :put,
      :class => 'btn btn-small btn-info',
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) }  %>
    <% else %>
      <%= link_to "Enviar para produção", 
        order_attendance_path(@order), 
        :method => :put,
        :class => 'btn btn-small btn-danger',
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) }  %>    
  <% end %>
</div>