<%- model_class = Feedstock -%>
<div class="page-header">
  <h1 class='text-center'> Custo Matéria-prima<h1>
  <dl class="dl-horizontal"> <h3 class="text-center"><%= @feedstock.name %></h3></dl>
</div>

<div class="page-header">
  <h4>Fornecedores </h4>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome Fornecedor</th>
      <th>Data da compra</th>
      <th>Preço</th>
    </tr>
  </thead>
  
  <tbody>
    <% @feedstock_entrance_items.each do |item| %>
      <tr>
        <td><%= item.supplier_name %></td>
        <td><%= date_translation item.created_at %></td>
        <td><%= number_to_currency item.price_unit %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              feedstocks_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_feedstock_path(@feedstock), :class => 'btn' %>
</div>
