<%= form_tag reports_stocks_path, :method => :get, :remote => true, class: "form-inline" do %>  
  <div class="form-group hidden-print">

    <%= select_month Date.current, :class => "form-control" %>
    <%= select_year Date.current.year, :class => "form-control" %>
    <%= submit_tag 'Pesquisar', class: "btn btn-primary" %>    
  </div>
<% end %>

<div id="total">
  <%= render :partial => 'moviments'%>
</div>