<%= simple_form_for Cashier::Entrance.new, :url  => cashiers_entrances_path, remote: true do |f| %>
  <%= f.error_notification %>  

  <div class="form-inputs">
    <%= f.input :money, as: :string, input_html: { autofocus: true } %>
  </div>
  
  <div class="form-inputs">
    <%= f.input :user, 
      as: :string,
      id: :entrance_user, 
      input_html: { class: 'search-query'},
      required: true %>
  </div>
  
  <div class="form-inputs">
    <%= f.input :user_id, as: :hidden, input_html: { id: "user_id"} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Realizar Entrada", :class => 'btn-primary' %>
  </div>
<% end %>