<%= simple_form_for @feedstock_entrance, :url  => form_path, :html => { :class => 'form-horizontal' } , wrapper: :horizontal_form  do |f| %>
  <div class="row">
    <div class="col-md-10">
      <%= f.input :supplier, 
        as: :string, input_html: { class: 'search-query', placeholder: "Pesquise o fornecedor", autofocus: true }, 
        required: true  %>
      <%= f.input :supplier_id, as: :hidden %>
      <%= f.input :freight_price, as: :string %>
      <%= f.input :nf_number, as: :string %>
      <%= f.input :nf_key_access, as: :string %>      
      <%= f.button :submit, "Salvar e lançar itens", :class => 'btn btn-primary btn-lg btn-block' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), feedstocks_entrances_path, :class => 'btn btn-default btn-block' %>
      
    </div>
  </div>  
<% end %>
