<%= simple_form_for @feedstock_entrance,
  :url  => form_path,
  :html => { :class => 'form-horizontal' } do |f| %>
  
  <%= f.input :supplier, as: :string, input_html: { class: 'search-query' }, required: true  %>
  <%= f.input :supplier_id, as: :hidden  %>
  <%= f.input :freight_price, as: :string  %>
  <%= f.input :nf_number, as: :string  %>
  

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                feedstocks_entrances_path, :class => 'btn' %>
  </div>
<% end %>
