<div class="row">
  <div class="col-xs-12 text-center">
	  <h3 class="text-center">Caixa - <%= l  @cashier.created_at %></h3>
	  <h4 class="text-center"><small> Status  <kbd><%=  @cashier.human_state_name %></kbd> </small></h4>
    <h5 class="text-center hidden-print"> <%= link_to "Voltar", cashiers_path %></h5>
	</div>
</div>

<div class="jumbotron smallJumbo">
  <div class="row">
    <div class="col-xs-4 text-left"><h3 class="text-left">Total da Venda:</h3></div>
    <div class="col-xs-8 text-right"> <h3 class="text-rught"><%= number_to_currency @cashier.sum_total_sale %></h3> </div>
  </div>
</div>

<div class="jumbotron smallJumbo">
  <div class="row">
    <div class="col-xs-6 text-left"><h4 class="text-left">Total Venda á Vista:</h4></div>
    <div class="col-xs-6 text-right"><h4 class="text-rught"><%= number_to_currency @cashier.sum_total_sale_in_cash %></h4></div>
  </div>
</div>

<div class="jumbotron smallJumbo">
  <div class="row">
    <div class="col-xs-6 text-left"><h4 class="text-left">Total Venda á Prazo:</h4></div>
    <div class="col-xs-6 text-right">
      <h4 class="text-rught"><%= number_to_currency @cashier.sum_total_sale_in_credit_card %></h4> 
    </div>
  </div>
</div>

<div class="jumbotron smallJumbo">
  <div class="row">
    <div class="col-xs-6 text-left"> <h4 class="text-left">Total Entrada:</h4></div>
    <div class="col-xs-6 text-right"> <h4 class="text-rught"><%= number_to_currency @cashier.sum_total_entrance %></h4> </div>
  </div>
</div>


<div class="jumbotron smallJumbo smallJumbo">
  <div class="row">
    <div class="col-xs-6 text-left"><h4 class="text-left">Total Saídas:</h4></div>
    <div class="col-xs-6 text-right"><h4 class="text-rught"><%= number_to_currency @cashier.sum_total_out %></h4></div>
  </div>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col-xs-6 text-left"><h3 class="text-left">Total em dinheiro no caixa:</h3></div>
    <div class="col-xs-6 text-right"><h3 class="text-rught"><%= number_to_currency @cashier.total_money_in_cashier %></h3></div>
  </div>
</div>

<div class="panel-group" role="tablist">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
        <h4 class="panel-title">
          <a class="" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="true" aria-controls="collapseListGroup1">
            Detalhe das vendas
          </a>
        </h4>
      </div>
      <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading1" aria-expanded="true" style="">

        <% @cashier.sales.each do |sale| %>
          <div class="panel panel-default">
            <div class="panel-heading">Venda: <%= sale.id %></div>
            
            <div class="panel-body">
              <p> <strong> Data: </strong> <%= l sale.created_at, format: :short %> </p>
              <p> <strong> Total:</strong> <%= number_to_currency sale.total %> </p>
            </div>
            
            <table class="table table-striped table-bordered" >
              <thead> 
                <tr> 
                  <th>Produto</th> 
                  <th>Quantidade</th>  
                </tr> 
              </thead>
              
              <tbody>
                <% sale.items.each do |item| %>
                  <tr>
                    <td><%= item.product_name %></td>
                    <td><%= item.quantity %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>