<%- model_class = Order -%>
<div class="page-header">
  <h1>Pedidos</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name (:client)%></th>
      <th><%= model_class.human_attribute_name (:vendor)%></th>
      <th><%= model_class.human_attribute_name (:priority)%></th>
      <th><%= model_class.human_attribute_name (:date)%></th>
      <th><%= model_class.human_attribute_name (:total)%></th>
      <th><%= model_class.human_attribute_name (:state)%></th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.client_name %></td>
        <td><%= order.vendor_name %></td>
        <td><%= order.priority_humanize %></td>
        <td><%= l order.date %></td>
        <td><%= number_to_currency order.total_valor %></td>
        <td><%= order.human_state_name %></td>
        
        <td>
          <% if order.incomplete? or order.open? %>
            <%= link_to 'Editar', edit_order_path(order), :class => 'btn btn-mini' %> 
          
            <%= link_to 'Apagar', order, 
              method: :delete, 
              data: { confirm: 'Are you sure?' },
              :class => 'btn btn-mini btn-danger' %>

            <%= link_to "Imprimr", print_order_path(order) %>  
          <% end %>

          <% if order.ready? %>
            <%= link_to "Imprimir", print_done_order_path(order) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
