<div class="page-header">
  <h1>Itens </h1>
</div>


  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Matéria-Prima</th>
        <th>Unidade</th>
        <th>Peso em KG</th>
        <th>Estoque</th>
        <th>Saindo</th> 
        <th>Ação</th>
      </tr>
    </thead>
    
    <% if items.any? %>
      <tbody>
        <% items.each do |item| %>
          <%= change_color_tr(item) %>
            <td><%= item.feedstock_name %></td>
            <td><%= item.feedstock_med %></td>
            <td><%= item.feedstock_weight %></td>
            <td><%= item.feedstock_quantity %></td>
            <td><%= item.quantity %></td>
            <td>
              <%= link_to "Apagar",
                          feedstocks_output_item_path(feedstock_output, item),
                          :method => :delete,
                          :remote => true,
                          :class => 'btn btn-mini btn-danger' %>
            </td>
        <% end %>
      </tbody>
    <% end %>
  </table>