<%= simple_form_for(@supplier) do |f| %>
  <%= f.error_notification %>

  <div class="form-input">
    <%= f.input :name, input_html: { class: 'input-xxlarge' } %>
    <%= f.input :fantasy, input_html: { class: 'input-xxlarge' }  %>
    <%= f.input :cnpj, as: :string %>
    <%= f.input :contact %>
    <%= f.input :email %>
    <%= f.input :phone1, as: :string %>
    <%= f.input :phone2, as: :string %>
    <%= f.input :state_scription %>
    <fieldset>
      <legend>Endereço</legend>
        <div class="form-inline">
          <%= f.simple_fields_for :address do |address_form| %>
            <%= address_form.input :cep, as: :string, input_html: { class: 'search-query' }  %>
            <%= address_form.input :street %>
            <%= address_form.input :number , input_html: { class: 'input-mini' }  %>
            <%= address_form.input :street_type, input_html: { class: 'input-mini' }  %>
            <%= address_form.input :neighborhood %>
            <%= address_form.input :complement %>
            <%= address_form.input :city %>
            <%= address_form.input :state %>
          <% end %>
        </div>
    </fieldset>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                suppliers_path, :class => 'btn' %>
  </div>
<% end %>