<%= simple_form_for @supplier, :html => { :class => 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Dados Gerais</h4>
        </div>
        <div class="panel-body">
      
          <%= f.input :name, input_html: { class: 'input-xxlarge' } %>
          <%= f.input :fantasy, input_html: { class: 'input-xxlarge' }  %>
          <%= f.input :cnpj, as: :string %>
          <%= f.input :contact %>
          <%= f.input :email %>
          <%= f.input :phone1, as: :string %>
          <%= f.input :phone2, as: :string %>
          <%= f.input :state_scription %>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Endereço</h4>
        </div>
        <div class="panel-body">
          <%= render 'addresses/address_fields_for', :f => f %>
        </div>
      </div>    
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar Fornecedor", :class => 'btn btn-primary btn-lg btn-block' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), suppliers_path, :class => 'btn btn-default btn-block' %>
  </div>
<% end %>