<ul class="nav">
  <li><%= link_to "Browse Products", products_path %></li>
  <li><%= link_to "Price List" %></li>
  <li><%= link_to "Estoque", stocks_path %></li>
  <li><%= link_to "Matéria Prima", feedstocks_path %></li>
  <li><%= link_to "Produtos", products_path %></li>
  <li><%= link_to ""%></li>
</ul>
