<ul class="nav">
  <li><%= link_to "Price List" %></li>
  <li><%= link_to "Estoque", stocks_path %></li>
  <li><%= link_to "Produtos", products_path %></li>
  <li><%#= link_to "Vendedor", users_path %></li>

  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      Matéria Prima
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Cadastro", feedstocks_path %></li>
      <li><%= link_to "Lista de compra", feedstocks_list_critic_stock_path %></li>
      <li><%= link_to "Entrada", feedstocks_entrances_path %></li>
      <li><%= link_to "Saida", feedstocks_outputs_path %></li>
      <li><%= link_to "Fornecedores", suppliers_path %></li>
      <li><%= link_to "Impri. Inventário", feedstocks_print_inventory_path %></li>
    </ul>
  </div>
  
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      Contabilidade
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Centro de Custo", center_costs_path %></li>
    </ul>
  </div>
  
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      Pedidos
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Lançar Pedidos", new_order_path %></li>
      <li><%= link_to "Listagem de Pedidos", orders_path %></li>
      <li><%= link_to "Atendimento", attendances_orders_path %></li>
      <li><%= link_to "Entregas", list_delivers_orders_path %></li>
      <li><%= link_to "Clientes", clients_path %></li>
    </ul>
  </div>
  
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      Relatórios
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Vendas por vendedor", reports_comissions_path %></li>
    </ul>
  </div>
  
  <% if user_signed_in? %>
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <%= current_user.name %>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Editar", edit_user_registration_path(current_user) %></li>
        <li><%= link_to "Deslogar", destroy_user_session_path, :method=>'delete' %></li>
      </ul>
    </div>
  <% end %>  
</ul>

